body{
    color: #d1d1d1;
    background: #1d1d20;
    font-family: Montserrat-Regular;
}

.main{
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.main-container{
    height: 100vh;
    max-height: 100vh;
    align-items: center;
    overflow: hidden;
}